<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stock Evaluator</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div>
  <center>
      <form action="/data" method="POST">
      <label for="ticker">What stock would you like to evaluate?</label><br>
      <input type="text" id="ticker" name="ticker"><br>
      <input type="submit" value="EVALUATE" id="submit">
  </form>
</center>
</div>
  <script></script>
</body>
</html>